.profile-link {
    text-decoration: none;
    display: flex;
    margin-left: 10px;
    padding-top: 7px ;
    padding-bottom: 7px;
    align-items: center;
    color: rgb(9, 9, 9);
  }
  .breadcrumbs{
    margin-right: 20px;
    justify-content: flex-end
}