.bg-profileContainer{
    display:flex;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(144, 202, 249, 0.46);
    }
.profileTitle{
    padding-left: 20px;
    padding-right: 1200px;
    font-weight: bold;
    font-size:2rem;
}