.profileUser1{
    padding-top: 15px;
    display: flex;
    margin-bottom: 200px;
    margin-right: 90px;
    flex-direction: column;
}
.formUpdate{
    display: flex;
    width: 1%;
    margin-left: -525px;
    padding-top: 20px;
    .delete{
        margin-left: -567px
    }
}